html, #root {
    background-color: #f5f3ef;
}

.content {
    padding: 80px 20px 20px 260px;
    min-height: 600px;
}

a { transition: .2s ease; }
a, a:hover { text-decoration: none!important; }
nav a:hover { color: #fff!important; }

.text-light-1 { color: #ddd }

.card {
    padding: 30px;
    border: none!important;
    border-radius: 10px!important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.bg-theme { background-color: #b3001e; }
.btn-theme { background-color: #d20023!important; color: #ddd!important; }
.btn-theme:hover { background-color: #b3001e!important; color: #fff!important; }